@page "/"

<h1>Helligdage</h1>
    <h3>Dette er mit kalendar </h3>


<table>
    <thead>
        <tr>
            <th>Month</th>
            <th>Holidays</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in helligdage)
        {
            <tr>
                <td>@item.Navn</td>
                <td>@item.Dato</td>
            </tr> 
        }
    </tbody>
</table>